depcomp
install-sh
missing
configure
config.h.in
config.h.in\~
compile
aclocal.m4
Makefile.in
autom4te.cache
build
src/stm*
src/startup_stm32f10x_md.c
doc/*.log
doc/*.aux
doc/*.pdf
src/usbvirtual
filter-charac
um0424.zip
